/* Homepage */

body {
    background-color: #f1f3f8;
}

header {
    border-bottom: 1px solid var(--primary-border-color);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header svg {
    margin-right: 16px;
    cursor: pointer;
}

header img {
    height: 40px;
}

.homepage-container {
    height: calc(100vh - 62px);
    display: flex;
}

aside {
    border-right: 1px solid var(--primary-border-color);
    display: flex;
    padding: 8px;
    gap: 10px;
    flex-direction: column;
    width: 300px; 
    background-color: #424242;
}

aside a {
    text-decoration: none;
    display: block;
    padding: 6px 16px;
    color: var(--secondary-font-color);
    margin-bottom: 4px;
    border-radius: 4px;
}

a:hover {
    background-color: var(--side-nav-highlight-color);
    color: var(--secondary-font-color);
}

a.active {
    background-color: var(--side-nav-highlight-color);
    color: var(--secondary-font-color);
}

main {
    width: calc(100% - 300px);
}

ul.aside-nav-list {
    list-style: none;
    padding: 0;
}

/* Overview */

.overview-container {
    display: flex;
}

.overview-heading-section {
    margin-bottom: 20px;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 120px);
}

/* Add User */

